data/hmdb51
data/ucf101
data_loader/build
hmdb51_iframe*
hmdb51_residual*
*.txt.npz
.ipynb_checkpoints
__pycache__
tmp
send
receive
test
log
video
test
coviar.egg-info
data_loader/coviar.egg-info
data_loader/dist
test.ipynb